<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const type = [[${type}]];

        if (type === 'success') {
            location.replace("/");
        } else if (type === 'duplicate') {
            alert('이미 가입된 이메일이 있습니다. 다시 시도해주세요.');
            history.go(-1);
        } else {
            alert('비밀번호가 일치하지 않습니다. 다시 시도해주세요.');
            history.go(-1);
        }
        /*]]>*/
    </script>
</body>
</html>